<template>
  <div class="wrapper">
    <el-input placeholder="Please input" v-model="input"></el-input>
    <div v-if="!loading">
      <video-group :videos="videos"></video-group>
    </div>

    <div v-if="loading">Loading...</div>

  </div>
</template>

<script>
  import VideoGroup from './GroupsVideos';
  import Search from '../utils/search';
  export default {
    components: {
      VideoGroup, Search
    },
    created() {
        Search({
                term: this.input,
                items: 10
        }, response => this.handleSearchResults(response));

        window.eventBus.$on('searchForYoutubeStarted', () => {
        this.loading = true;
        });

        window.eventBus.$on('searchResultFromYoutube', videos => {
        console.log('search result', videos);
        this.loading = false;
        this.videos = videos;
        });
    },
    data() {
      return {
        videos: null,
        loading: true,
        input: ''
      }
    },
    methods: {
        handleSearchResults(result) {
            this.loading = false;
            this.videos = result;
        }
    },
    watch: {
        input: function() {
            window.eventBus.$emit('searchForYoutubeStarted');
            Search({
                term: this.input,
                items: 10
            }, response => this.handleSearchResults(response));
        }
    }
  }
</script>