<template>
  <div>
    <!--Main wrapper-->
      <div class="wrapper clearfix"  v-if="video">
        <div class="card">
            <div>
                <h1>{{video.snippet.title}}</h1>
                <br>
                <small>Channel: {{video.snippet.channelTitle}}</small>

                <p>{{video.snippet.description}}</p>
                <iframe  width="640" height="360" :src="url" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
  import GetVideo from '../utils/getVideo';

  export default {
    created() {
      this.videoId = this.$route.params.id;
      this.url = `http://www.youtube.com/embed/${this.videoId}`
      GetVideo({
        apiKey: 'AIzaSyAWJE95m8vcoqJprn5uzbSl00cBGVN4isk',
        videoId: this.videoId
      }, response => {
        this.video = response[0];
      })
    },
    data() {
      return {
        videoId: null,
        video: null,
        url: null
      }
    }
  }
</script>
<style scoped>
.card {
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 200px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

</style>