<template>
  <div class="wrapper clearfix">
     <div class="card">
        <router-link :to="{name: 'youtube-video', params: {id: video.id.videoId} }">
          <div class="additional">
              <img v-bind:src="videoImage">
          </div>
        </router-link>
        <div class="general">
                <h1>
                    {{getTitle}}
                </h1>
                <p>{{getDescription}}</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["video"],
  computed: {
    getTitle() {
      if (this.video.snippet.title) {
        let length = 50;
        let string = this.video.snippet.title.substring(0, 25);
        if (this.video.snippet.title.length > length) {
          string = string + "...";
        }
        return string;
      } else {
        return "No title for this video.";
      }
    },
    getDescription() {
      if (this.video.snippet.description) {
        let length = 100;
        let string = this.video.snippet.description.substring(0, 50);
        if (this.video.snippet.description.length > length) {
          string = string + "...";
        }
        return string;
      } else {
        return "No description for this video.";
      }
    },
    videoImage() {
      return this.video.snippet.thumbnails.high.url;
    }
  }
};
</script>
<style scoped>
.card {
  width: 500px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 200px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

</style>